{% extends 'base_form.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <!-- Start breadcrumb Area -->
    <div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h2 class="title">Connexion</h2>
                        <ul class="page-list">
                            <li class="rbt-breadcrumb-item"><a href="/">Accueil</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active">Connexion</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="rbt-elements-area bg-color-white rbt-section-gap">
        <div class="container">
            <div class="row gy-5 row--30">

                <div class="col-lg-6 mx-auto">
                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3 text-center">
                                Vous etes deja connecté en tant que {{ app.user.userIdentifier }}
                                <a href="{{ path('app_logout') }}"><button class="p-2 mt-2">Se déconnecter</button></a>
                            </div>
                        {% else %}
                            <form class="max-width-auto" method="post">

                            <div class="form-group">
                                {# <input name="con_name" type="text" /> #}
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                <label>Email *</label>
                                <span class="focus-border"></span>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                <label>Mot de passe *</label>
                                <span class="focus-border"></span>
                            </div>

                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                            <div class="row mb--30">
                                <div class="col-lg-6">
                                    <div class="rbt-checkbox">
                                        <input type="checkbox" id="rememberme" name="rememberme">
                                        <label for="rememberme">Se souvenir de moi</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-submit-group">
                                <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Connexion</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </form>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


